.competition-form {
  margin-top: -70px;
  background-color: $cl-white;
}

.competition-form__required {
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  margin: 14px 0;
}

.competition-form__popup {
  margin: 0 auto;
}

.competition-form__star {
  color: $cl-pink;
}

@media (min-width: $tablet-width) {
  .competition-form {
    margin-top: 5px;
  }

  .competition-form__required {
    margin: 0;
  }
}
