.contestant-data {
  display: flex;
  flex-direction: column;
}

.contestant-data__submit-button {
  margin: 0 20px;
  margin-bottom: 40px;
  display: block;
  background-color: $cl-green;
  border: 2px solid $cl-green;
  color: $cl-white;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  border-radius: 2px;
  width: 280px;
  padding: 16px 0;
}

@media (min-width: $tablet-width) {
  .contestant-data__fullname {
    order: 1;
  }

  .contestant-data__achievements {
    order: 4;
  }

  .contestant-data__form-contacts {
    order: 3;
  }

  .contestant-data__mobile-platform {
    order: 2;
  }

  .contestant-data__feedback {
    order: 5;
  }

  .contestant-data__submit {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .contestant-data__submit-button {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .contestant-data {
    padding: 0 120px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contestant-data__fullname {
    flex-grow: 1;
  }

  .contestant-data__achievements {
    flex-grow: 2;
  }

  .contestant-data__form-contacts {
    flex-grow: 2;
  }

  .contestant-data__mobile-platform {
    flex-grow: 1;
  }

  .contestant-data__feedback {
    flex-grow: 2;
  }

  .contestant-data__submit {
    width: 100%;
  }
}
