.contacts {
  //padding: 0 20px;
  padding: 0;
  padding-top: 25px;
}

.contacts__lead,
.contacts__header {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 24px;
}

.contacts__lead {
  margin-bottom: 0;
}

.contacts__header {
  margin-top: 0;
}

.contacts__list {
  @include list-reset;
  background: transparent url("../img/bg-triangle-white-footer.svg") no-repeat center bottom;
  background-size: 100%;
  position: relative;
  z-index: 1;
  padding: 0 20px;
  padding-bottom: 61px;
}

.contacts__item {
  padding: 10px;
}

.contacts__contact-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
}

.contacts__link {
  color: $cl-pink;
  font-size: 24px;
  text-align: center;
  display: block;
  text-decoration: none;
}

.contacts__map {
  border: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-top: -33px;
  display: block;
}

.contacts__online-map {
  border: 0;
  width: 100%;
  height: 200%;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
  }

  .contacts__item {
    &:last-child {
      flex-grow: 1;
    }
    width: 310px;
  }

  .contacts__map {
    min-height: 375px;
    margin-top: -68px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__list {
    justify-content: space-around;
    padding-bottom: 170px;
  }

  .contacts__item {
    &:last-child {
      flex-grow: 0;
    }
    width: auto;
  }

  .contacts__map {
    min-height: 500px;
    margin-top: -124px;
  }
}
