.contestant-data {
  display: flex;
  flex-direction: column;
}

.contestant-data__achievements {
  margin-top: 20px;
}

.contestant-data__form-contacts {
  margin-top: 33px;
}

.contestant-data__mobile-platform {
  margin-top: 20px;
}

.contestant-data__feedback {
  margin-top: 0;
}

.contestant-data__submit {
  padding-top: 22px;
}

.contestant-data__submit-button {
  margin: 0 20px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .contestant-data__fullname {
    order: 1;
  }

  .contestant-data__achievements {
    order: 4;
    margin-top: 45px;
    padding: 0 20px;
  }

  .contestant-data__form-contacts {
    order: 3;
    margin-top: 43px;
  }

  .contestant-data__mobile-platform {
    order: 2;
  }

  .contestant-data__feedback {
    order: 5;
    margin-top: 44px;
    margin-bottom: 0;
  }

  .contestant-data__submit {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 67px;
    margin-bottom: 50px;
  }

  .contestant-data__submit-button {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .contestant-data {
    padding: 0 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contestant-data__fullname {
    width: 435px;
    margin-right: 72px;
    margin-top: 35px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .contestant-data__achievements {
    flex-grow: 2;
    padding: 0;
  }

  .contestant-data__form-contacts {
    flex-grow: 2;
    margin-top: 43px;
  }

  .contestant-data__mobile-platform {
    flex-grow: 1;
    margin-top: 10px;
  }

  .contestant-data__feedback {
    flex-grow: 2;
    margin-top: 0;
  }

  .contestant-data__submit {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }
}
