.download-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.download-buttons__item {
  flex-grow: 0;
  width: 47px;
  margin: 0 17px;
}

.download-buttons__item--text {
  margin: 0 auto;
  margin-bottom: 33px;
  flex-grow: 1;
  width: 280px;
  box-sizing: border-box;

  a {
    font: inherit;
    text-decoration: none;
    text-align: center;
    color: $cl-white;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    font-family: "Open Sans Bold", sans-serif;
    border: 3px solid $cl-white;
    border-radius: 28px;
    padding: 15px 0;
  }

  & a:visited {
    color: $cl-white;
  }

  & a:hover,
  & a:focus {
    color: $cl-pink;
    background-color: $cl-white;
  }

  & a:active {
    color: $cl-pink-light;
  }
}

.download-buttons__item--icon {
  min-height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-buttons__link {
  display: block;
}

@media (min-width: $tablet-width) {
  .download-buttons__item--text {
    margin-bottom: 47px;
  }

  .download-buttons {
    width: 300px;
  }
}
