.download {
  background-color: $cl-blue-dark;
  padding: 26px 20px 22px 20px;
}

.download__platforms {
  color: $cl-white;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-family: "Open Sans Light", sans-serif;
  margin-top: 20px;
  margin-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .download {
    width: 300px;
    background-color: transparent;
  }
}
