.download {
  background-color: $cl-blue-dark;
  padding: 28px 20px 32px 20px;
}

.download__platforms {
  color: $cl-white;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-family: "Open Sans Light", sans-serif;
}

// Стили планшета
@media (min-width: 768px) {
  .download {
    width: 300px;
    background-color: transparent;
  }
}

// стили десктоп
// @media (min-width: 1200px) {
//
// }
