.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.features-list__lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Open Sans Bold", sans-serif;
  text-align: center;
  margin: 0;
  margin-top: 37px;
}

.features-list__description {
  text-align: center;
  margin: 0;
  margin-top: 9px;
}

.features-list__item {
  display: flex;
  flex-direction: column;
}

.features-list__item:last-of-type .features-list__description {
  margin-bottom: 39px;
}

.features-list__image-wrapper {
  order: 3;
  margin: 0 auto;
  height: 278px;
  overflow: hidden;

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .features-list {
    width: 310px;
    margin-left: 310px;
  }

  .features-list__image-wrapper {
    margin: 0;
    position: absolute;
    left: 20px;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 0 120px;
  }

  .features-list__description {
    margin-bottom: 39px;
  }

  .features-list {
    width: auto;
    margin: 0;
    display: flex;
  }

  .features-list__image-wrapper {
    order: 0;
    margin: 0;
    position: static;

    picture,
    img {
      margin: 0 auto;
      display: block;
    }
  }

  .features-list__image-wrapper--hidden {
    display: block;
  }
}
