.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.features-list__lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Open Sans Bold", sans-serif;
  text-align: center;
  margin: 0;
  margin-top: 37px;

  br {
    display: none;
  }
}

.features-list__description {
  text-align: center;
  margin: 0;
  margin-top: 9px;
}

.features-list__item {
  display: flex;
  flex-direction: column;
}

.features-list__item:last-of-type .features-list__description {
  margin-bottom: 39px;
}

.features-list__image-wrapper {
  order: 3;
  margin: 0 auto;
  height: 278px;
  overflow: hidden;

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .features-list {
    width: 310px;
    margin-left: 310px;
    margin-top: 100px;
    min-height: 443px;
  }

  .features-list__lead {
    margin-top: 35px;
    text-align: left;
  }

  .features-list__description {
    text-align: left;
    margin-top: 10px;
  }

  .features-list__image-wrapper {
    margin: 0;
    position: absolute;
    left: 20px;
    bottom: 0;
    height: 480px;
  }

  .features-list__item:last-of-type .features-list__description {
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .features-list {
    display: flex;
    width: auto;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 80px;
  }

  .features-list__item {
    width: (100% /3);
  }

  .features-list__lead {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 55px;

    br {
      display: inline;
    }
  }

  .features-list__description {
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 0 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .features-list__image-wrapper {
    order: 0;
    margin: 0;
    position: static;
    height: 300px;

    picture,
    img {
      margin: 0 auto;
      display: block;
    }
  }

  .features-list__image-wrapper--hidden {
    display: block;
  }
}
