.features {
  background: linear-gradient(174deg, $cl-white 0%, $cl-white 205px, $cl-grey-bg 205px, $cl-grey-bg 100%);
  padding: 0 20px;
}

.features__lead {
  font-size: 24px;
  margin: 40px 0;
  text-align: center;
}
