.feedback {
  padding: 0 20px;
}

.feedback__lead {
  line-height: 18px;
  text-transform: uppercase;
  color: $cl-pink;
  text-align: center;
  margin: 40px 0;
}

@media (min-width: $desktop-width) {
  .feedback {
    padding: 0;
  }
}
