.footer {
  &--hidden {
    display: none;
  }
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: stretch;
}

.footer__logo,
.footer__social-links,
.footer__copyright {
  margin: 20px 0;
}

.footer__logo {
  text-align: center;

  .logo {
    box-shadow: none;
    justify-content: center;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__developed-by {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  margin-right: 15px;
}

.footer__copyright-logo path {
  fill: $cl-pink;
}

@media (min-width: $tablet-width) {
  .footer--hidden {
    display: flex;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 620px;
    min-height: 127px;
    padding: 0 20px;
  }

  .footer__logo,
  .footer__social-links,
  .footer__copyright {
    margin: 0;
    width: 25%;
  }

  .footer__logo {
    .logo {
      box-shadow: none;
      margin-bottom: 15px;
    }
  }

  .footer__copyright {
    display: flex;
    justify-content: flex-end;
  }

  .footer__social-links {
    flex-grow: 1;
    flex-basis: auto;
  }

  .footer__copyright-logo-link {
    display: block;
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
    min-height: 190px;
    box-sizing: border-box;

    &--hidden {
      display: flex;
    }
  }

  .footer__developed-by {
    font-size: 18px;
    line-height: 18px;
  }

  .footer__logo,
  .footer__social-links,
  .footer__copyright {
    width: (100% / 3);
  }
}
