.logo {
  box-shadow: 0 1px 0 0 #000000;
  margin-bottom: 1px;
  display: flex;

  .main-header & {
    height: 65px;
  }
}

.logo__image {
  margin: auto 0;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .logo {
    .main-header & {
      height: 110px;
    }
  }
}
