.page-intro {
  margin-top: 0;
}

.page-intro__header {
  color: $cl-white;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  line-height: 28px;

  .page--photo-page & {
    padding: 87px 20px;
    padding-top: 95px;
    padding-bottom: 73px;
  }

  .page--form & {
    padding: 0 20px;
    padding-top: 95px;
    margin-bottom: 55px;
  }
}

.page-intro__lead {
  .page--main & {
    display: none;
  }

  br {
    display: none;
  }
  background-color: $cl-white;
  font-size: 14px;
  line-height: 30px;
  padding: 48px 20px;
  text-align: center;
  font-family: "Open Sans Light", sans-serif;
}

.page-intro__sublead {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-intro__lead {
    .page--main & {
      display: block;
      background-color: transparent;
      color: $cl-white;
    }

    br {
      display: inline;
    }

    .page__intro-wrapper--pagemain & {
      width: 300px;
      padding: 0 20px;
    }

    font-size: 18px;
    line-height: 30px;
    background-color: $cl-white;
    color: $cl-grey;
    margin: 0;
    text-align: center;
    margin-top: 138px;
    padding: 0 60px;
    padding-top: 90px;
    padding-bottom: 78px;
  }

  .page-intro__lead--pagemain {
    font-size: 40px;
    line-height: 48px;
  }

  .page-intro__header {
    padding: 0;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-intro__sublead {
    display: inline;
  }

  .page-intro__header {
    max-width: 50%;
    margin: 0 auto;
  }

  .page-intro__lead {
    padding: 90px 0;
    margin-top: 103px;
    font-size: 18px;
    line-height: 30px;

    &--pagemain {
      font-size: 40px;
      line-height: 48px;
    }

    br {
      display: inline;
    }
  }
}
