.page-intro {
  margin-top: 0;
}

.page-intro__header {
  color: $cl-white;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 105px 20px;
}

.page-intro__lead {
  .page--main & {
    display: none;
  }
  background-color: $cl-white;
  font-size: 14px;
  line-height: 30px;
  padding: 50px 20px;
  text-align: center;
  font-family: "Open Sans Light", sans-serif;
}

.page-intro__sublead {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-intro__lead {
    .page--main & {
      display: block;
    }
    background-color: transparent;
    color: $cl-white;
    font-size: 40px;
    line-height: normal;
    width: 300px;
  }

  .page-intro__header {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-intro__sublead {
    display: inline;
  }
}
