.photo-editor {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .photo-editor {
    padding: 25px 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-editor {
    padding: 0 10px;
    margin-bottom: 28px;
  }

  .photo-editor__form {
    max-width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
