.photos__list {
  @include list-reset;
}

.photos__lead-wrapper {
  margin: 45px 0;
}

.photos__lead {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*padding: 0 20px;*/
  }

  //чет
  .photos__item:nth-child(even) {
    margin-left: 20px;
  }

  //нечет
  .photos__item:nth-child(odd):not(:first-child) {
    margin-right: 20px;
  }
}
