.prices {
  padding: 0;
  padding-top: 100px;
  padding-bottom: 12px;
  background: linear-gradient(176deg, $cl-white 0%, $cl-white 35px, $cl-grey-bg 35px, $cl-grey-bg 100%);
}

.prices__toggles {
  margin: 26px 0;
}

@media (min-width: $tablet-width) {
  .prices {
    background: linear-gradient(176deg, $cl-white 0%, $cl-white 70px, $cl-grey-bg 70px, $cl-grey-bg 100%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 110px;
    padding-bottom: 60px;
    margin-top: -30px;

    .prices__toggles {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .prices {
    //background: linear-gradient(176deg, $cl-white 0%, $cl-white 147px, $cl-grey-bg 147px, $cl-grey-bg 100%);
    background: $cl-grey-bg url("../img/bg-triangle-white.svg") no-repeat center top;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 145px;
    padding-bottom: 95px;

    .prices__toggles {
      display: none;
    }
  }
}
