.prices-table {
  border-collapse: collapse;
  width: calc(280px * 4);
  transform: translateX(-260px);
}

.prices-table__cell {
  .prices-table__row--head & {
    background-color: $cl-grey;
    color: $cl-white;
  }
  width: 280px;
  box-sizing: border-box;
  border: 2px solid $cl-grey-border;
  background-color: $cl-white;
  padding: 0 15px;
  text-align: right;
}

.prices-table__feature {
  margin-right: 15px;
}

.prices-table__feature--avaible {
  & path {
    fill: $cl-green-icon;
  }
}

.prices-table__feature--unavaible {
  & path {
    fill: $cl-red-icon;
  }
}
