.reviews {
  padding: 20px;
  padding-bottom: 0;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}

.reviews__toggles {
  margin: 22px;
}

.reviews__control {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 660px;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
    }
  }

  .reviews__toggles {
    margin: 17px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding: 120px 10px 0 10px;
    background: $cl-white url("../img/icon-quotes.svg") no-repeat center 72px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: auto;
      box-sizing: content-box;
    }
  }

  .reviews__wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__control {
    display: block;
  }

  .reviews__toggles {
    display: none;
  }
}
