.reviews-list {
  @include list-reset;
}

.reviews-list__name {
  font-size: 18px;
  line-height: 30px;
  margin: 18px 0;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.reviews-list__person-title {
  line-height: 30px;
  text-align: center;
  display: none;
}

.reviews-list__review {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews-list__item {
    display: flex;
    flex-direction: column;
  }

  .reviews-list__name {
    order: 2;
  }

  .reviews-list__review {
    order: 1;
  }

  .reviews-list__person-title {
    display: block;
    order: 3;
  }
}
