.reviews-list {
  @include list-reset;
}

.reviews-list__name {
  font-size: 18px;
  line-height: 30px;
  margin: 18px 0 15px 0;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000000;
}

.reviews-list__person-title {
  line-height: 30px;
  text-align: center;
  display: none;
}

.reviews-list__review {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews-list {
    margin-top: 46px;
  }

  .reviews-list__item {
    display: flex;
    flex-direction: column;
  }

  .reviews-list__name {
    order: 2;
    font-size: 20px;
    margin: 16px 0 0 0;
  }

  .reviews-list__review {
    order: 1;
    font-size: 18px;
  }

  .reviews-list__person-title {
    display: block;
    order: 3;
    margin: 5px 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews-list__review {
    padding: 0 100px;
  }

  .reviews-list__name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews-list__person-title {
    font-size: 18px;
    line-height: 30px;
  }
}
