.social-list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 74px;
  margin-right: 74px;
}

.social-list__link {
  width: 46px;
  height: 46px;
  border: 2px solid $cl-grey-light;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: $cl-grey;
  }

  &:focus,
  &:active {
    border-color: $cl-grey-light;

    .social-list__icon {
      fill: $cl-pink-light;
    }
  }
}

.social-list__icon {
  fill: $cl-pink;
}

@media (min-width: $tablet-width) {
  .social-list {
    margin-left: 70px;
    margin-right: 70px;
  }
}
