.textinput-title {
  display: flex;
  flex-direction: column;
  text-indent: 22px;
  color: $cl-pink;
  text-transform: uppercase;
  line-height: 30px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .textinput-title {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 52px;
    padding: 0 20px;
    text-indent: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &--form-contacts {
      margin-bottom: 30px;

      & span {
        order: 1;
        margin-top: 10px;
      }

      flex-direction: column;
      text-indent: 22px;
      align-items: flex-start;

      position: relative;

      &::after {
        content: "";
        width: 60px;
        height: 60px;
        display: block;
        position: absolute;
        top: 1px;
        right: 21px;
        background-color: $cl-grey-bg;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    &--phone {
      &::after {
        background-image: url("../img/icon-phone.svg");
      }
    }

    &--email {
      &::after {
        background-image: url("../img/icon-mail.svg");
      }
    }
  }
}
