.text-input {
  border: 2px solid $cl-grey-border;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 30px;
  color: $cl-grey;
  margin-bottom: 25px;
  box-sizing: border-box;
  width: 280px;
}

.text-input--textarea {
  min-height: 200px;
}

.text-input::placeholder,
.text-input:-ms-input-placeholder,
.text-input::-ms-input-placeholder {
  color: $cl-grey;
  opacity: 1; /* Firefox */
}

@media (min-width: $tablet-width) {
  .text-input {
    margin: 0;
    margin-left: 20px;
    width: 100%;
  }

  .text-input--textarea {
    min-height: 196px;
  }

  .text-input--form-contacts,
  .text-input--textarea {
    margin-left: 0;
  }
}
