body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  min-width: 320px;
  background-color: $cl-white;
  margin: 0 auto;
  padding: 0;
  color: $cl-grey;
  background-color: $cl-white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
}
