.page-intro {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 462px;
}

.page-intro__header {
  color: $cl-white;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 105px 20px;
}

.page-intro__lead {
  background-color: $cl-white;
  font-size: 14px;
  line-height: 30px;
  padding: 50px 20px;
  text-align: center;
}
