$cl-black: #000000;
$cl-white: #ffffff;
$cl-white-light: rgba(255, 255, 255, 0.3);
$cl-pink: #d22856;
$cl-pink-light: rgba(210, 40, 86, 0.3);
$cl-grey: #283645;
$cl-grey-light: rgba(40, 54, 69, 0.3);
$cl-grey-bg: #f2f2f2;
$cl-grey-border: #e5e5e5;
$cl-blue-dark: #1d2631;
$cl-blue-light: rgba(29, 38, 49, 0.3);
$cl-green: #2aab6d;

@import "normalize";
@import "mixin.scss";
@import "global.scss";
@import "blocks/achievements.scss";
@import "blocks/ajustment-buttons.scss";
@import "blocks/checkbox-indicator.scss";
@import "blocks/checkbox-title.scss";
@import "blocks/competition-form.scss";
@import "blocks/contacts.scss";
@import "blocks/contestant-data.scss";
@import "blocks/download-buttons.scss";
@import "blocks/download.scss";
@import "blocks/editor.scss";
@import "blocks/features-list";
@import "blocks/features.scss";
@import "blocks/feedback.scss";
@import "blocks/fonts.scss";
@import "blocks/footer.scss";
@import "blocks/form-contacts.scss";
@import "blocks/fullname.scss";
@import "blocks/main-header.scss";
@import "blocks/menu-list.scss";
@import "blocks/mobile-platform.scss";
@import "blocks/page-form.scss";
@import "blocks/page-intro.scss";
@import "blocks/page-main";
@import "blocks/page-photo.scss";
@import "blocks/photo-editor.scss";
@import "blocks/photo.scss";
@import "blocks/photos.scss";
@import "blocks/popup.scss";
@import "blocks/prices.scss";
@import "blocks/radio-indicator.scss";
@import "blocks/radio-title.scss";
@import "blocks/reviews-list.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/social-list.scss";
@import "blocks/text-input.scss";
@import "blocks/textinput-title.scss";
@import "blocks/visually-hidden.scss";
